<div class="layout-px-spacing">

    <div class="row layout-spacing">

        <!-- Content -->
        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

            <app-profile-card></app-profile-card>

            <app-education-card></app-education-card>

            <app-work-experience-card></app-work-experience-card>

        </div>

        <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">

            <app-skills-card></app-skills-card>

            <app-bio-card></app-bio-card>

        </div>

    </div>
</div>