<div class="maintanence text-center">
    <div class="container-fluid maintanence-content">
        <div class="">
            <div class="maintanence-hero-img">
                <img alt="logo" src="./assets/images/logo.jpeg">
            </div>
            <h1 class="error-title">Under Maintenance</h1>
            <p class="error-text">Thank you for visiting us.</p>
            <p class="text">We are currently working on making some improvements <br/> to give you better user experience.</p>
            <p class="text">Please visit us again shortly.</p>
            <a class="btn btn-info mt-4" [routerLink]="['/page']" >Home</a>
        </div>
    </div>
</div>